
<ion-content >

  <!-- <div clas="ion-text-center">

    <br>

  </div> -->


  <ul clas="ion-text-center">
    <li *ngIf="this.error1!='asd'">{{error1}}</li>
    <li *ngIf="this.error2!='asd'">{{error2}}</li>
    <li *ngIf="this.error3!='asd'">{{error3}}</li>
    <li *ngIf="this.error4!='asd'">{{error4}}</li>
    <li *ngIf="this.error5!='asd'">{{error5}}</li>
    <li *ngIf="this.error6!='asd'">{{error6}}</li>
    <li *ngIf="this.error7!='asd'">{{error7}}</li>
    <li *ngIf="this.error8!='asd'">{{error8}}</li>
    <li *ngIf="this.error9!='asd'">{{error9}}</li>

  </ul>





</ion-content>
