<ion-header>
  <ion-toolbar class="ios hydrated ion-text-center">

    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Facturas</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-appointment" class="ios"
          tab="make-appointment">
          <ion-icon name="logo-buffer"></ion-icon>
          <ion-label>Agregar</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="ion-text-center">
    <h4>Añade una solicitud</h4>
  </div>



  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Sitio web del negocio:</ion-label>
        <ion-input formControlName="sitiowebnegocio" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Numero del ticket o folio de la compra</ion-label>
        <ion-input formControlName="nroticketfolio" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Fecha de la compra</ion-label>
        <ion-input formControlName="fechacompra" type="date" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Hora de la compra</ion-label>
        <ion-input formControlName="horacompra" type="time" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Monto total</ion-label>
        <ion-input formControlName="montototal" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <div class="file-upload-container" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
          <input type="file" id="file-input" accept="image/*" (change)="takePicture($event)" />
          <label for="file-input">
            <!-- SVG Representativo de imagen/cámara -->
            <svg *ngIf="!selectedFile" style="zoom:1;margin-top:-4px;" width="100%" height="50px" viewBox="0 0 24 24"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <g transform="rotate(90, 12, 12)">
                <path
                  d="M20 5h-3.17l-.83-1H8L7.17 5H4C2.9 5 2 5.9 2 7v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zM12 17c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm6-8h-2.5l-1-1h-5l-1 1H6V7h12v2z"
                  fill="#3b82f6" />
              </g>
            </svg>

            <img [src]="imagePreview">

            <p>Click o arrastrar para añadir imagen de ticket</p>
          </label>
        </div>

      </ion-item>
      <ion-card class="ion-no-padding" no-padding style="margin-top: 0px!important;margin-bottom: 0px!important;">
        <ion-card-content (click)="confirmo()" class="ion-no-padding" no-padding>

          <ion-item class="ion-no-padding" no-padding>
            <ion-label label-placement="fixed" style="font-size: small;">Confirmo los <a
                (click)="$event.stopPropagation()">Terminos y condiciones</a> y estoy seguro qie el negocio<br> o
              establecimiento permtie generar factiras con un ticket de compra</ion-label>
            <ion-checkbox (touchstart)="confirmo()" #checkBox1></ion-checkbox>
          </ion-item>

        </ion-card-content>
      </ion-card>



      <div class="wrapper">
        <div (mousedown)="verificar_si_el_formulario_y_demas_cosas_estan_correctas()" (mouseup)="cancelPayment()"
          (touchstart)="verificar_si_el_formulario_y_demas_cosas_estan_correctas()" (touchend)="cancelPayment()"
          class="ion-activatable ripple-parent rounded-rectangle">
          <strong
            [class]="paymentConfirmed===true ? 'v2-badge v2-badge-pagoconfirmado' : 'v2-badge v2-badge-pagartexto'">
            <strong class="v2-badge-pagaricono v2-badge" style="font-size: large;">3</strong> &nbsp; <a
              [style]="paymentConfirmed===true ? 'color:#40404033' : 'color:green'"
              style="font-size: large;">creditos</a>
            <br><br>
            <strong *ngIf="!isPaying&&!paymentConfirmed" class="v2-badge v2-badge-pagartexto">Manten precionado para
              pagar</strong>
            <strong *ngIf="isPaying&&!paymentConfirmed" class="v2-badge v2-badge-pagartexto">Manten por &nbsp; <strong
                style=" color:rgba(0, 128, 0, 0.856);font-size: large;">{{ count }}</strong>&nbsp; segundos para
              confirmar</strong>
            <strong *ngIf="paymentConfirmed" class="v2-badge v2-badge-pagoconfirmado">Pago Confirmado</strong>

          </strong>

          <ion-ripple-effect disabled></ion-ripple-effect>
        </div>
      </div>




      <!-- <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Agregar</ion-button>
        </ion-col>
      </ion-row> -->



    </form>











    <!-- <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Sitio web del negocio:</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Numero del ticket o folio de la compra</ion-label>
        <ion-input formControlName="mobile" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Fecha de la compra</ion-label>
        <ion-input formControlName="mobile" type="date" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Hora de la compra</ion-label>
        <ion-input formControlName="mobile" type="time" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Monto total</ion-label>
        <ion-input formControlName="mobile" type="number" required>
        </ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button type="submit" color="primary" shape="full" expand="block">Agregar</ion-button>
      
      </div>



    </form> -->
  </ion-list>





  <!-- <ion-checkbox></ion-checkbox> -->





  <!-- <ion-button (click)="esperadejamesubirlaentonces()" [disabled]="!selectedFile">Upload File</ion-button> -->

</ion-content>